<div class="table_responsive mt-4">
    <table>
        <thead>
            <tr>
            
            <th>Image</th>
            <th>Name</th>
            <th>Employee ID</th>
            <th>Phone</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allPerson">
               
                <td><img src="../../assets/img/{{item.image}}" alt=""></td>
                <td>{{item.fullname}}</td>
                <td>{{item.employee_id}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.title}}</td>
                <td>{{item.department}}</td>
                <td>{{item.role}}</td>
                <td>Active</td>
                <td>
                    <span class="action_btn">
                        <a *ngIf="button" (click)="userActive()">Active</a>
                        <a *ngIf="!button" (click)="userDeactive()">Deactive</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>