<div class="container">
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="icon-case">
                    <img src="../../assets/newImage/order.png" alt="">
                </div>
                <div class="box">
                    <h2>220</h2>
                    <h2>Orders</h2>
                </div>

            </div>
            <div class="card">
                <div class="icon-case">
                    <img src="../../assets/newImage/teachers.png" alt="">
                </div>
                <div class="box">
                    <h2>110</h2>
                    <h2>Employees</h2>
                </div>

            </div>
            <div class="card">
                <div class="icon-case">
                    <img src="../../assets/newImage/invest.png" alt="">
                </div>
                <div class="box">
                    <h2>5</h2>
                    <h2>Investments</h2>
                </div>

            </div>
            <div class="card">
                <div class="icon-case">
                    <img src="../../assets/newImage/income.png" alt="">
                </div>
                <div class="box">
                    <h2>350000</h2>
                    <h2>Income</h2>
                </div>

            </div>
        </div>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>Order Details</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>Amount</th>
                        <th>Option</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$120</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$1200</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$500</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$5000</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>St. James College</td>
                        <td>$3200</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                </table>
            </div>
            <div class="new-students">
                <div class="title">
                    <h2>New Suppliers</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table>
                    <tr>
                        <th>Profile</th>
                        <th>Name</th>
                        <th>option</th>
                    </tr>
                    <tr>
                        <td><img src="../../assets/newImage/user.png" alt=""></td>
                        <td>John Steve Doe</td>
                        <td><img src="../../assets/newImage/info.png" alt=""></td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/newImage/user.png" alt=""></td>
                        <td>John Steve Doe</td>
                        <td><img src="../../assets/newImage/info.png" alt=""></td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/newImage/user.png" alt=""></td>
                        <td>John Steve Doe</td>
                        <td><img src="../../assets/newImage/info.png" alt=""></td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/newImage/user.png" alt=""></td>
                        <td>John Steve Doe</td>
                        <td><img src="../../assets/newImage/info.png" alt=""></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>