<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/admin">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/home">
      <mat-icon>dashboard</mat-icon> Product
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/product">
      <mat-icon>dashboard</mat-icon> Add Product
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/post">
      <mat-icon>messages</mat-icon> Posts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/employee">
      <mat-icon>account_circle</mat-icon> Employees
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/attendance">
        <mat-icon>fingerprint</mat-icon> Attendance
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/viewAttendance">
        <mat-icon>view_headline</mat-icon> View Attendance
      </a>
      
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/user">
        <mat-icon>supervisor_account</mat-icon> User List
      </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/report">
      <mat-icon>receipt</mat-icon> Report
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/activity">
      <mat-icon>history</mat-icon> Activity Log
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminpage/adduser">
      <mat-icon>perm_identity</mat-icon> Add User
    </a>
    
   
  </mat-nav-list>
  