<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/newhome">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/home">
    <mat-icon>dashboard</mat-icon> Product
  </a>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/attendance">
    <mat-icon>fingerprint</mat-icon> Attendance
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/post">
    <mat-icon>messages</mat-icon> Posts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/employee">
    <mat-icon>account_circle</mat-icon> Employees
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/task">
    <mat-icon>task</mat-icon> Task List
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/dashboard">
    <mat-icon>perm_identity</mat-icon> Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default/about">
    <mat-icon>info</mat-icon> About
  </a>
  
 
</mat-nav-list>
